body {  background-image: url(tło.jpg); }

#baner {    text-align: center;
            color: white;
            background-image: url(Splendor_Logo.jpg);
            font-size: 7vh;
            height: 25%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;   }

#pasek {    float:left;
            width:17%;
            font-size: 150%;
            text-align: center;
            height: 100%;
            margin-right: 2%;   }

#tresc {    float:left;
            width:62%;
            text-align: justify;}

#galeria {  float:right;
            width:18%;
            font-size: 150%;
            text-align: center;
            height: 50%;   }

#stopka {   clear:both;
            width:100%;
            padding:5px 0 5px 0;
            text-align:center;
            font-weight: bold;  }

#nav {  margin-right: 7%;
        overflow:hidden;    }

ul#nav li { border: 1px solid #d5d5d5;
            list-style-type: none;
            list-style-position: outside;
            background: #FFD700;    }

ul#nav li a {   display : block; 
                text-decoration : none;     } 

ul#nav li:hover {   background: white;  } 

ul#nav li li:hover {    background: white;  } 

ul#nav li ul {  overflow: hidden; 
                display: none;  }

ul#nav li:hover ul {    position: absolute; 
                        background: #FFD700; 
                        padding: 0; 
                        display: block;     }

#zalogowany {   font-size: 3vh;
                text-align: center; }   
   
#zarejestrowany {   text-align: center;
                    font-size: 4vh; }
   
#logowanie {    font-size: 4vh;
                text-align: center; }