{% extends 'base.html.twig' %}

{% block title %}Zmiana hasła{% endblock %}

{% block body %}
    <h2>
    <form method="post">
        <fieldset>        
            <div class="form-group">
                <label for="input_password">Stare hasło</label>
                <input type="password" class="form-control" name="password" id="input_password" placeholder="Hasło">
            </div>

            <div class="form-group">
                <label for="input_password2">Nowe hasło</label>
                <input type="password" class="form-control" name="password2" id="input_password2" placeholder="Hasło">
            </div>

            <div class="form-group">
                <label for="input_password3">Powtórz nowe hasło</label>
                <input type="password" class="form-control" name="password3" id="input_password3" placeholder="Hasło">
            </div>

            <button type="submit" class="btn btn-primary">Zmień hasło</button>
        </fieldset>
    </form>
    </h2>
{% endblock %}
