{% extends 'base.html.twig' %}

{% block title %}Zasady gry{% endblock %}

{% block body %}

<div class="jumbotron">
W grze Splendor gracze wcielają się w rolę bogatych handlarzy epoki renesansu rywalizujących o zwycięstwo
poprzez inwestowanie w kopalnie, udoskonalanie metod transportu oraz zatrudnianie rzemieślników, którzy posiadają
fachowe umiejętności przemieniania nieoszlifowanych błyskotek w cenne klejnoty.
</div>

<div class="jumbotron">
Zawartość </br>

40 znaczników: </br>
*7 znaczników szmaragdów (zielone) </br>
*7 znaczników szafirów (niebieskie) </br>
*7 znaczników rubinów (czerwone) </br>
*7 znaczników diamentów (białe) </br>
*7 znaczników onyksów (czarne) </br>
*7 znaczników złota, czyli dżokery (żółte) </br>
 </br>
90 kart rozwoju: </br>
*40 kart poziomu 1 </br>
*30 kart poziomu 2 </br>
*20 kart poziomu 3 </br>
 </br>
10 płytek arystokratów
</div>

<div class="jumbotron">
Przygotowanie do gry</br>

Potasujcie oddzielnie zestawy kart poszczególnych poziomów, a następnie połóżcie na stole w kolumnie od najniższczego do najwyższego (0; 00; 000). </br>
Następnie odkryjcie 4 karty każedo poziomu. Potasujcie płytki arystokratów i odkryjcie liczbę płytek równą liczbie graczy plus jeden (np. w grze 4-osobowej odkryjcie 5 płytek). </br>
Pozostałe płytki odłóżcie do pudełka, nie będą potrzebne. </br>
Na koniec utwórzcie 6 stosów znaczników (podzielonych według koloru) i położcie w zasięgu graczy.
</div>

<div class="jumbotron">
Rozgrywka 2-osobowa </br>

Usuńcie z gry po 3 znaczniki klejnotów każdego koloru (w każdym kolorze powinny zostać 4 znaczniki). </br>
Nie redukujcie liczby znaczników złota. </br>
Odkryjcie 3 płytki arystokratów.
</div>

<div class="jumbotron">
Rozgrywka 3-osobowa </br>

Usuńcie z gry po 2 znaczniki klejnotów każdego koloru (w każdym kolorze powinny zostać 5 znaczniki). </br>
Nie redukujcie liczby znaczników złota. </br>
Odkryjcie 4 płytki arystokratów.
</div>

<div class="jumbotron">
Karty rozwoju </br>

w celu zdobywania punktów prestiżu, gracz musi pozyskać karty rozwoju. Przez cały czas trwania rozgrywki na środku stołu leży kilka odkrytych kart każdego poziomu i wszyscy gracze mogą je pozyskać w akcji zakupu. </br>
Gracze mają także możliwość rezerwacji kart. Takie karty trzymają w ręku i mogą je zakupić w późniejszym czasie. </br>
W lewym górnym rogu kart znajdują się punkty prestiżu. W prawym górnym rogu znajduje się klejnot określający kolor dostępnego bonusu. W lewym dolnym rogu znajduje się koszt karty w znacznikach.
</div>

<div class="jumbotron">
Płytki arystokratów </br>

Płytki arystokratów leżą przez cały czas trwania rozgrywki odkryte na stole. Jeśli na końcu swojej tury gracz posiada liczbę bonusów (tylko bonusów!) wskazaną na płytce któregoś z arystokratów, natychmiast podejmuje go z wizytą i otrzymuje jego płytkę. Gracz nie może odmówić wizyty. </br>
Otrzymanie płytki arystokraty nie jest akcją. Każda płytka jest warta 3 punkty prestiżu. Gracz może pozyskać tylko jedną płytkę na turę. </br>
</div>

<div class="jumbotron">
Zasady gry </br>

Grę rozpoczyna najmłodszy z graczy, a następnie rozgrywka toczy się w kierunku zgodnym z ruchem wskazówek zegara. </br>
W swojej turze gracz musi wykonać jedną z czterech następujących akcji: </br>
*wziąć 3 znaczniki klejnotów różnych kolorów </br>
*wziąć 2 znaczniki klejnotów tego samego koloru (ta akcja jest możliwa tylko wtedy, gdy przed akcją w stosie wybranego koloru znajdują się co najmniej 4 znaczniki) </br>
*zarezerwować 1 kartę rozwoju i wziąć 1 znacznik złota (dżoker)</br>
*zakupić 1 odkrytą kartę rozwoju ze stoły albo 1 zarezerwowaną kartę ze swojej ręki.
</div>

<div class="jumbotron">
Wybór znaczników </br>

Na koniec swojej tury gracz nie może posiadać więcej niż 10 znaczników (włączając dżokery). Jeśli gracz posiada więcej, musi odłożyć tyle znaczników, aby posiadać ich 10.
Gracz może odłożyć także wszystkie lub część spośród tych znaczników, które właśnie dobrał. Gracz trzymają swoje znaczniki w sposób widoczny dla innych.
</div>

<div class="jumbotron">
Zarezerwowane karty rozwoju </br>

Aby zarezerwować kartę, gracz bierze do ręki jedną z odkrytych kart ze stołu albo (jeśli czuje, że sprzyja mu szczęście) jedną kartę z jednego ze stosów (poziomu 0, 00 lub 000). W tym drugim przypadku nie pokazuje treści karty pozostałym graczom. </br>
Gracz nie może odrzucić zarezerwowanej kart ze swojej ręki. Ponadto nie może posiadać na ręce więcej niż 3 kart, a jedynym sposbem, aby pozbyć się karty jest jej zakup (patrz niżej). </br>
Rezerwacja karty nie jest jedynym sposobem na zdobycie złotego dżokera. Jeśli w zasobach nie ma złota, gracz może zarezerwować kartę, ale nie otrzymuje znacznika dżokera.
</div>

<div class="jumbotron">
Zakup karty rozwoju </br>

W celu zakupienia karty, gracz musi oddać liczbę i rodzaj znaczników wskazanych na karcie. Znacznik dżokera może zastąpić znacznik dowolnego koloru. Wszystkie wydane znaczniki (włączając dżokery) należy zwrócić do zasobów na środku stołu. </br>
Gracz może zakupić jedną z odkrytych kart leżących na stole albo jedną z zarezerwowanych wcześniej kart trzymanych w swoim ręku. Każdy gracz tworzy przed sobą
osobne rzędy zakupionych kart rozwoju, sortując je według koloru i układając na zakładkę w kolumnach w taki sposób, aby bonusy i punkty prestiżu były dobrze widoczne. </br>
Bonusy i punkty prestiżu widniejące na kartach rozwoju muszą być przez cały czas widoczne dla wszystkich graczy. </br>

Ważne! Natychmiast po wzięciu karty ze stołu (jej zakupie lub rezerwacji) należy ją zastąpić nową kartą ze stosu tego samego poziomu. Przez cały czas trwania rozgrywki na stole powinny leżeć po 4 odkryte karty każdego poziomu (chyba że jakiś stos się wyczerpie, wtedy w odkrytym rzędzie pozostaną puste miejsca).
</div>

<div class="jumbotron">
Bonusy </br>

Bonusy, jakie gracz pozyskał w poprzednich turach, pomagają mu zakupić taniej nowe karty rozwoju. Każdy bonus odpowiada 1 znacznikowi danego kolory. Na przykład, jeśli gracz posiada 2 niebieskie bonusy i zakupi kartę, która kosztuje 2 niebieskie znaczniki oraz 1 zielony, to musi oddać jedynie 1 zielony znacznik. </br>
Jeśli gracz posiada wystarczająco dużo kart rozwoju (i tym samym bonusów), może zapłacić za zakup karty, nie wydając ani jednego znacznika.
</div>

<div class="jumbotron">
Arystokraci </br>

Na koniec swojej tury gracz sprawdza, czy któryś z arystokratów złoży mu wizytę. Stanie się tak, jeśli gracz posiada co najmniej tyle bonusów określonego rodzaju, ile widnieje na płytce któregoś z arystokratów. </br>
Gracz nie może odmówić wizyty, a sama wizyta nie jest akcją. Jeśli gracz posiada bonusy wymagane przez więcej niż jednego arystokratę, wybiera, która płytkę chce wziąć. Gracz kładzie zdobytą płytkę odkrytą przed sobą.
</div>

<div class="jumbotron">
Koniec gry </br>

Gdy któryś z graczy zdobędzie 15 punktów prestiżu, należy dokończyć bieżącą rundę, tak aby wszyscy gracze rozegrali taką samą liczbę tur. Następnie gra dobiega końca. </br>
Gracz, który zdobył najwięcej punktów prestiżu zostaje zwycięzcą (nie zapomnijcie policzyć punktów z płytki arystokratów). W przypadku remisu wygrywa ten z remisujących, który zakupił najmniej kart rozwoju.
</div>
{% endblock %}